<mat-toolbar color="primary" class="justify-between">
  Chats App
  <ng-container *ngIf="user$ | async as user ; else loginButton ">
    <div class="flex-center">
      <img width="30" height="30" class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" />
      <small >{{ user.displayName }}</small>
      <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </ng-container>
  <ng-template #loginButton>
    <button class="mat-button" routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>


<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>